@model SiparisTakipSistemiCore.Models.Entities.Musteri
@{
    ViewData["Title"] = "MusteriGuncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center;color:orange">Müşteri Bilgilerini Güncelle</h1>
<br />
<br />
@if (ViewBag.guncel != null)
{
    <div class="alert alert-success">@ViewBag.guncel</div>
    <br />
}
@using (Html.BeginForm("MusteriGuncelle", "Panel", FormMethod.Post))
{
    <label>Müşteri ID</label>
    @Html.TextBoxFor(n => n.MusteriID, new { @class = "form-control", placeholder = "Müşteri Adını Giriniz", required = "required" })
    <br />
    <label>Müşteri Bilgisi</label>
    @Html.TextBoxFor(n => n.MusteriAd, new { @class = "form-control", placeholder = "Müşteri Adını Giriniz", required = "required" })
    <br />
    <label>Müşteri Email</label>
    @Html.TextBoxFor(n => n.MusteriEmail, new { @class = "form-control", placeholder = "Müşteri Email Giriniz", required = "required" })
    <br />
    <label>Müşteri Telefon</label>
    @Html.TextBoxFor(n => n.MusteriTelefon, new { @class = "form-control", placeholder = "Müşteri Telefon Giriniz", required = "required" })
    <br />
    <label>Müşteri Parola</label>
    @Html.TextBoxFor(n => n.MusteriParola, new { @class = "form-control", placeholder = "Müşteri Parola Giriniz", required = "required" })
    <br />
    <input type="submit" value="Müşteriyi Güncelle" class="btn btn-secondary" />
}


